
<div>
    <div class="row align-top">
        <div class="align-bottom col-3">
        <img src="assets/img/logo-belatrix.png" class="rounded float-left" alt="..." width="70%">
        </div>
        <div class="align-middle col-6">
            <p class="text-center blue-text h4">
                Belatrix Software
            </p>
            <p class="text-center blue-text h4">
                Plan estrategico corporativo y de sistemas de informacion
            </p>
            <p class="text-center blue-text h4">
                Proyecto
            </p>
        </div>
        <div class="align-middle col-3"> 
        <img src="assets/img/escudo.png" class="rounded float-right" alt="..." width="40%">
        </div>
    </div>
    <div class="divider dropdown-divider blue accent-3"></div>
    <div class="">
        <app-carrusel-proy></app-carrusel-proy>

    </div>
<!-- cuadros de revision -->

    <div class="divider dropdown-divider blue accent-3"></div>
    <div class="row align-bottom">
        <div class=" m-4 col border border-primary rounded">
            <p class="">
               <small> Elaborado por: <br> Edwar Diaz Ruiz </small>
            </p>
        </div>
        <div class=" m-4 col border border-primary rounded">
            <p class="">
                <small> Revisado por: <br>  Mabel Rubiela Muñoz Garzon </small>
            </p>
        </div>
        <div class=" m-4 col border border-primary rounded">
            <p class="">
                <small>  Aprobado: <br>  </small>
            </p>
        </div>
    </div>
</div>
