<mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
            
            <mdb-card class="d-block w-100">
                    <mdb-card-body>
                      <mdb-card-title>
                        <h4>Panel title 1</h4>
                      </mdb-card-title>
                      <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's
                        content.</mdb-card-text>
                      <div class="flex-row">
                        <a class="card-link">Card link</a>
                        <a class="card-link">Another link</a>
                      </div>
                    </mdb-card-body>
                  </mdb-card>

    </mdb-carousel-item>
    <!-- <mdb-carousel-item>
            
            <mdb-card>
                    <mdb-card-body>
                      <mdb-card-title>
                        <h4>Panel title 2</h4>
                      </mdb-card-title>
                      <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's
                        content.</mdb-card-text>
                      <div class="flex-row">
                        <a class="card-link">Card link</a>
                        <a class="card-link">Another link</a>
                      </div>
                    </mdb-card-body>
                  </mdb-card>

    </mdb-carousel-item>
    <mdb-carousel-item>
            
            <mdb-card>
                    <mdb-card-body>
                      <mdb-card-title>
                        <h4>Panel title 3</h4>
                      </mdb-card-title>
                      <mdb-card-text>Some quick example text to build on the card title and make up the bulk of the card's
                        content.</mdb-card-text>
                      <div class="flex-row">
                        <a class="card-link">Card link</a>
                        <a class="card-link">Another link</a>
                      </div>
                    </mdb-card-body>
                  </mdb-card>

    </mdb-carousel-item> -->

  </mdb-carousel>