
            <div>
                <div class="row align-top">
                    <div class="align-bottom col-3">
                    <img src="assets/img/logo-belatrix.png" class="rounded float-left" alt="..." width="70%">
                    </div>
                    <div class="align-middle col-6">
                        <p class="text-center blue-text h4">
                                Belatrix Software
                        </p>
                        <p class="text-center blue-text h4">
                                Plan estrategico corporativo y de sistemas de informacion
                        </p>
                        <p class="text-center blue-text h4">
                                Anteproyecto
                        </p>
                    </div>
                    <div class="align-middle col-3"> 
                    <img src="assets/img/escudo.png" class="rounded float-right" alt="..." width="40%">
                    </div>
                </div>
                <div class="divider dropdown-divider blue accent-3"></div>
                <div class="row align-middle">
                    
                    <mdb-carousel [animation]="'slide'" data-interval="30000">
                        <!-- presenta a : -->
                        <mdb-carousel-item>
                    
                            <div class="col-12">
                                <div class="row centrado">
                                    <button class="centrado" mdbBtn  gradient="blue" rounded="true" mdbWavesEffect>
                                    Presentando a :
                                    </button>
                                </div>
                                <div class="row centrado text-center">
                                    <img src="assets/img/logo-belatrix.png" class="rounded" alt="..." width="50%">
                                </div>
                                <div class="row centrado">
                                <p class="text-center deep-orange-text h4">
                                    "Achieving success in the digital world is hard. We make it easier!"
                                </p>
                                </div>
                            </div>

                        </mdb-carousel-item>
                    
                    </mdb-carousel>

                </div>
                <div class="divider dropdown-divider blue accent-3"></div>
                <div class="row align-bottom">
                    <div class=" m-4 col border border-primary rounded">
                        <p class="">
                            Elaborado por:
                        </p>
                        <p class="">
                            Edwar Diaz Ruiz
                        </p>
                    </div>
                    <div class=" m-4 col border border-primary rounded">
                        <p class="">
                            Revisado por:
                        </p>
                        <p class="">
                            Mabel Rubiela Muñoz Garzon
                        </p>
                    </div>
                    <div class=" m-4 col border border-primary rounded">
                        <p class="">
                            Aprobado:
                        </p>
                        <p class="">
                            ...
                        </p>
                    </div>
                </div>
            </div>
