
<mat-accordion>
    <mat-expansion-panel *ngFor="let clase of DatosClases; let i=index" 
                         (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Clase N° {{ i + 1 }}
        </mat-panel-title>
        <mat-panel-description>
          Fecha: {{ clase['fecha'] | date }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Lo que aprendi</th>
              <th scope="col">Consultas</th>
              <th scope="col">Videos</th>
              <th scope="col">Libros</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td [rowSpan]=Tam_row> {{clase['que_aprendi']}} </td>
              <td> <a href="http://localhost:4200" target="_blank" rel="noopener noreferrer">{{ clase['consultas'][0]['nombre'] }}  </a> </td>
              <td> <a href="http://localhost:4200" target="_blank" rel="noopener noreferrer">{{ clase['videos'][0]['nombre'] }}  </a> </td>
              <td> <a href="http://localhost:4200" target="_blank" rel="noopener noreferrer">{{ clase['libros'][0]['nombre'] }}  </a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  