<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="60000">
  <div class="carousel-inner">
            <!-- presenta a : -->
    <div class="carousel-item active">
        <div class="col-12">
            <div class="row centrado">
                <button class="centrado" mdbBtn  gradient="blue" rounded="true" mdbWavesEffect>
                    Presentando a :
                </button>
            </div>
            <div class="row centrado text-center">
                <img src="assets/img/logo-belatrix.png" class="rounded" alt="..." width="50%">
            </div>
            <div class="row centrado">
                <p class="text-center deep-orange-text h5">
                    "Achieving success in the digital world is hard. We make it easier!"
                </p>
            </div>
        </div>
    </div>
            <!-- presentasion ante  -->
    <div class="carousel-item">
        <div class="col-12">
            <div class="row centrado">
                <p class="col text-center h6">
                    PLAN ESTRATÉGICO CORPORATIVO Y DE SISTEMAS DE INFORMACIÓN COLEGIO CRISTIANO INTEGRAL
                </p>
            </div>
            <div class="row centrado">
                <p class="col text-center">
                    Elaborado por: <br> <strong>Edwar Diaz Ruiz</strong>
                </p>
            </div>
            <div class="row centrado">
                <p class="col text-center">
                    Dirigido por: <br> <strong>Ing. Mabel Rubiela Muñoz Garzón</strong>
                </p>
            </div>
            <div class="row centrado">
                <p class="col text-center">
                    PLANEACIÓN DE SISTEMAS DE INFORMACIÓN <br> FACULTAD DE INGENIERÍA<br>INGENIERÍA DE SISTEMAS<br> <strong>UNIVERSIDAD DISTRITAL FRANCISCO JOSÉ DE CALDAS BOGOTÁ, COLOMBIA</strong>
                </p>
            </div>
        </div>
    </div>
            <!-- info empresa -->
    <div class="carousel-item">
        <div class="col-12">
            <div class="row derecha">
                <button class="derecha " mdbBtn  gradient="blue" rounded="true" mdbWavesEffect>
                Informacion Empresarial:
                </button>
            </div>
            <div class="row centrado">
                <p class="text-center deep-orange-text h5">
                    BELATRIX SOFTWARE
                </p>
            </div>
            <div class="row centrado">
                <p class="text-center blue-text">
                    <strong>Dirección:</strong>Carrera 13A #97-35, 3° piso, Chicó Norte, Bogotá 110221 <br>  <strong>Telefono:</strong>+57 (1) 328-9540. <br>
                </p>
            </div>
            <div class="row centrado">
                <a type="button" mdbBtn color="light" href="https://www.belatrixsf.com/">
                Pagina Web
                </a>
            </div>
        </div>
    </div>
            <!-- contenido anteprotecto -->
    <div class="carousel-item" *ngFor="let seccion of DatosAnte">
        <div class="col-12">
            <div class="row derecha">
                <button class="derecha " mdbBtn  gradient="blue" rounded="true" mdbWavesEffect>
                {{ seccion['seccion'] }}
                </button>
            </div>
            <div *ngFor="let parrafo of seccion['parrafos']" class="row">
                <p class="text-justify">
                    {{ parrafo }}
                </p>
            </div>
            <div  class="row centrado">
                <p *ngFor="let referencia of seccion['referencias']" class="text-justify font-weight-lighter col-12">
                    {{ referencia }}
                </p>
            </div>
            <div class="row">
                <ul class="list-unstyled">
                    <li *ngFor="let fase of seccion['fases']"> {{ fase['nombre_fase'] }}
                        <ul>
                            <li *ngFor="let subitem of fase['subitems']">{{ subitem }}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- fin contenido  -->
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>